<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @user.zip_code %>
</p>

<p>
  <strong>Other Stuff:</strong>
</p>
<p>
  Instruments: <%= @user.instruments.map do |i| %>
    <% i.name %>
  <% end %>
</p>
<p>
  Genres: <%= @user.genres.map do |i| %>
    <% i.name %>
  <% end %>
</p>
<p>
  Influences: <%= @user.influences.map do |i| %>
    <% i.name %>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
